# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Database Names (defaults per service; can be overridden but note that all services will use same if set)
