<<<<<<< HEAD
=======
/* stylelint-disable at-rule-no-unknown */
>>>>>>> a6232077d0e0ab37b4384586393aa4203b9a7e63
@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
@layer base {
  * { box-sizing: border-box; }
  html { -webkit-font-smoothing: antialiased; }
  body { @apply text-gray-900 bg-gray-50; }
}
=======
body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.dark {
  color-scheme: dark;
}

/* Optional: Smooth transition */
* {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}
>>>>>>> a6232077d0e0ab37b4384586393aa4203b9a7e63
